@charset 'utf-8';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li{
    list-style: none;
}





h1{
    margin-bottom: 20px;
}
.menu li{
    float: left;
    width: calc(100% / 3);
    
}


.menu li:hover{
    background: green;
}
.clearfix:after{
    content:"";
    display: block;
    clear: both;
}

a:link, a:visited{
    text-decoration: none;
}
ul.menu li a{
    display: block;
    line-height: 40px;
    color:#333;
}
.router-link-active {
    background: orange;
    
}
